# Ignore virtual environments
venv/

# Ignore Python bytecode and compiled files
__pycache__/
*.py[cod]

# Ignore system files
.DS_Store

# Ignore VSCode settings
.vscode/

# Ignore all PNG files
*.png
!results/*.png